[submodule "pack/prabirshrestha/start/async.vim"]
	path = pack/prabirshrestha/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "pack/prabirshrestha/start/vim-lsp"]
	path = pack/prabirshrestha/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/fatih/start/vim-go"]
	path = pack/fatih/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/ctrlpvim/start/ctrlp.vim"]
	path = pack/ctrlpvim/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
