[submodule "pack/prabirshrestha/start/async.vim"]
	path = pack/prabirshrestha/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "pack/prabirshrestha/start/vim-lsp"]
	path = pack/prabirshrestha/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/fatih/start/vim-go"]
	path = pack/fatih/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/ctrlpvim/start/ctrlp.vim"]
	path = pack/ctrlpvim/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/vim-airline/start/vim-airline"]
	path = pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/airblade/start/vim-gitgutter"]
	path = pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/christoomey/start/vim-tmux-navigator"]
	path = pack/christoomey/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "pack/jgdavey/start/tslime"]
	path = pack/jgdavey/start/tslime
	url = https://github.com/jgdavey/tslime.vim.git
